
@model Manager.Data.DTOs.InstituitonModule.InstituitonDTO
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Upload file and Save Image in binary format in MVC</title>

</head>

<body>

    <div>
        <form action="/Administrator/Instituiton/uploadImage" method="post" enctype="multipart/form-data">

            <table>

                <tr>

                    <td>File Upload:</td>

                    <td>

                        <input type="file" id="File_Upload" name="Image" />

                        <br />

                    </td>

                </tr>

                <tr>

                    <td>File Name:</td>

                    <td>

                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                        <br />

                    </td>

                </tr>

                <tr>

                    <td></td>

                    <td>

                        <br />

                        <input type="submit" value="Upload" class="btn btn-default" />

                    </td>

                </tr>

                <tr>

                    <td></td>

                    <td>

                        <br />

                    </td>

                </tr>

                <tr>

                    <td>Uploaded Image:</td>

                    <td>

                        <img src="@ViewBag.Image" style="width: 250px; height: 200px;" alt="Alternate Text" />

                    </td>

                </tr>

            </table>
        </form>

    </div>

</body>

</html>

